<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="utf-8"/>
        <meta content="initial-scale=1, width=device-width" name="viewport"/>
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
        <link th:href="@{/css/style.css}" href="../css/style.css"  rel="stylesheet"/>
        <title>FinAnalyst</title>
    </head>

    <body>
        <div class="container">
            <main class = "center info-box">
                <h1>Access Denied</h1>
            </main>
        </div>
    </body>

</html>