<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <meta content="initial-scale=1, width=device-width" name="viewport"/>
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
        <link th:href="@{/css/style.css}" href="../css/style.css"  rel="stylesheet"/>
        <title>FinAnalyst</title>
    </head>

    <body>
        <div class="container">
            <main class="center info-box">
                <form class="center-form" th:action="@{/login}" method="post">

                    <h2>Login</h2>

                    <fieldset>
                        <input autocomplete="off" class="form-control" autofocus="true" required="true" name="email" id="email" th:placeholder="Email" type="text"/>
                        <input class="form-control" name="password" id="password" th:placeholder="Password" required="true" type="password"/>
                        <button class="btn btn-default" type="submit">Log In</button>
                    </fieldset>

                </form>

                <form th:action="@{/registration}" method="get">
                    <button class="btn" type="Submit">I don't have an account</button>
                </form>

            </main>
        </div>
    </body>
</html>


